.mapHolder {
  position: relative;
  width: 500px;
  height: 350px;
  background-image: url("TownTwo.webp");
  background-color: darkgray;
  background-size: contain;
}

.townCircle {
  position: absolute;
  width: 50px;
  height: 50px;
  /* background-color: lightgray; */
  /* border-style: solid; */
  border-radius: 50%;
  border-color: lightgray;
  border-width: 1px;
}
.townCircle:hover {
  /* background-color: white; */
  box-shadow: 0px 0px 10px black;
  background-color: rgba(255, 255, 255, 0.1);
}

.toolTip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* Add dots under the hoverable text */
  cursor: pointer;
}

/* Tooltip text */
.toolTipText {
  visibility: hidden; /* Hidden by default */
  width: 130px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */
}

/* Show the tooltip text on hover */
.toolTip:hover .toolTipText {
  visibility: visible;
}
